<ng-container #viewContainer></ng-container>

<ng-template ngxHackableTag="a:default" let-url="url">
  <a [href]="url" [title]="url">
    <ng-container ngxHackableChildren></ng-container>
  </a>
</ng-template>

<ng-template ngxHackableTag="article:default">
  <article>
    <ng-container ngxHackableChildren></ng-container>
  </article>
</ng-template>

<ng-template ngxHackableTag="blockquote:default">
  <blockquote>
    <ng-container ngxHackableChildren></ng-container>
  </blockquote>
</ng-template>

<ng-template ngxHackableTag="code:default">
  <code>
    <ng-container ngxHackableChildren></ng-container>
  </code>
</ng-template>

<ng-template ngxHackableTag="del:default">
  <del>
    <ng-container ngxHackableChildren></ng-container>
  </del>
</ng-template>

<ng-template ngxHackableTag="em:default">
  <em>
    <ng-container ngxHackableChildren></ng-container>
  </em>
</ng-template>

<ng-template ngxHackableTag="h1:default">
  <h1>
    <ng-container ngxHackableChildren></ng-container>
  </h1>
</ng-template>

<ng-template ngxHackableTag="h2:default">
  <h2>
    <ng-container ngxHackableChildren></ng-container>
  </h2>
</ng-template>

<ng-template ngxHackableTag="h3:default">
  <h3>
    <ng-container ngxHackableChildren></ng-container>
  </h3>
</ng-template>

<ng-template ngxHackableTag="h4:default">
  <h4>
    <ng-container ngxHackableChildren></ng-container>
  </h4>
</ng-template>

<ng-template ngxHackableTag="h5:default">
  <h5>
    <ng-container ngxHackableChildren></ng-container>
  </h5>
</ng-template>

<ng-template ngxHackableTag="h6:default">
  <h6>
    <ng-container ngxHackableChildren></ng-container>
  </h6>
</ng-template>

<ng-template ngxHackableTag="hellip:default">
  <ng-container>&hellip;</ng-container>
</ng-template>

<ng-template ngxHackableTag="hr:default">
  <hr>
</ng-template>

<ng-template ngxHackableTag="img:default" let-url="url">
  <img [src]="url" [alt]="url" [title]="url">
</ng-template>

<ng-template ngxHackableTag="li:default">
  <li>
    <ng-container ngxHackableChildren></ng-container>
  </li>
</ng-template>

<ng-template ngxHackableTag="mdash:default">
  <ng-container>&mdash;</ng-container>
</ng-template>

<ng-template ngxHackableTag="ndash:default">
  <ng-container>&ndash;</ng-container>
</ng-template>

<ng-template ngxHackableTag="ol:default">
  <ol>
    <ng-container ngxHackableChildren></ng-container>
  </ol>
</ng-template>

<ng-template ngxHackableTag="p:default">
  <p>
    <ng-container ngxHackableChildren></ng-container>
  </p>
</ng-template>

<ng-template ngxHackableTag="pre:default">
  <pre><ng-container ngxHackableChildren></ng-container></pre>
</ng-template>

<ng-template ngxHackableTag="strong:default">
  <strong>
    <ng-container ngxHackableChildren></ng-container>
  </strong>
</ng-template>

<ng-template ngxHackableTag="text:default" let-text="text">
  <ng-container>{{text}}</ng-container>
</ng-template>

<ng-template ngxHackableTag="ul:default">
  <ul>
    <ng-container ngxHackableChildren></ng-container>
  </ul>
</ng-template>
