<ng-container #viewContainer></ng-container>

<ng-template [ngxHackableTag]="PseudoTagName.Root"
             [isDefault]="true"
             let-children="children">
  <ng-container [ngxHackableChildren]="children"></ng-container>
</ng-template>

<ng-template [ngxHackableTag]="PseudoTagName.Text"
             [isDefault]="true"
             let-content="content">
  <ng-container>{{content}}</ng-container>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.A"
             [isDefault]="true"
             let-metadata="metadata"
             let-children="children">
  <a [href]="metadata[0]"
     [title]="metadata[1]">
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </a>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Blockquote"
             [isDefault]="true"
             let-children="children">
  <blockquote>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </blockquote>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Code"
             [isDefault]="true"
             let-children="children">
  <code>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </code>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Del"
             [isDefault]="true"
             let-children="children">
  <del>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </del>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Em"
             [isDefault]="true"
             let-children="children">
  <em>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </em>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H1"
             [isDefault]="true"
             let-children="children">
  <h1>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h1>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H2"
             [isDefault]="true"
             let-children="children">
  <h2>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h2>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H3"
             [isDefault]="true"
             let-children="children">
  <h3>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h3>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H4"
             [isDefault]="true"
             let-children="children">
  <h4>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h4>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H5"
             [isDefault]="true"
             let-children="children">
  <h5>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h5>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.H6"
             [isDefault]="true"
             let-children="children">
  <h6>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </h6>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Hellip"
             [isDefault]="true">
  <ng-container>&hellip;</ng-container>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Hr"
             [isDefault]="true">
  <hr>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Img"
             [isDefault]="true"
             let-content="content"
             let-metadata="metadata">
  <img [src]="metadata[0]"
       [title]="metadata[1]"
       [alt]="content">
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Li"
             [isDefault]="true"
             let-children="children">
  <li>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </li>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Mdash"
             [isDefault]="true">
  <ng-container>&mdash;</ng-container>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Ndash"
             [isDefault]="true">
  <ng-container>&ndash;</ng-container>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Ol"
             [isDefault]="true"
             let-children="children">
  <ol>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </ol>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.P"
             [isDefault]="true"
             let-children="children">
  <p>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </p>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Pre"
             [isDefault]="true"
             let-children="children">
  <pre><ng-container [ngxHackableChildren]="children"></ng-container></pre>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Strong"
             [isDefault]="true"
             let-children="children">
  <strong>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </strong>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Ul"
             [isDefault]="true"
             let-children="children">
  <ul>
    <ng-container [ngxHackableChildren]="children"></ng-container>
  </ul>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Table + defaultSuffix">
  <table>
    <ng-container ngxHackableChildren></ng-container>
  </table>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Thead + defaultSuffix">
  <thead>
    <ng-container ngxHackableChildren></ng-container>
  </thead>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Tbody + defaultSuffix">
  <tbody>
    <ng-container ngxHackableChildren></ng-container>
  </tbody>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Th + defaultSuffix"
             let-metadata="metadata">
  <th [style]="metadata[2]">
    <ng-container ngxHackableChildren></ng-container>
  </th>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Td + defaultSuffix"
             let-metadata="metadata">
  <td [style]="metadata[2]">
    <ng-container ngxHackableChildren></ng-container>
  </td>
</ng-template>

<ng-template [ngxHackableTag]="TemplatableTagName.Tr + defaultSuffix">
  <tr>
    <ng-container ngxHackableChildren></ng-container>
  </tr>
</ng-template>
